/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65%;
    color: #bfbfbf;
}

body {
    font-size: 1.6rem;
    text-decoration: none;
}

/* Barra de navegación */
header {
    background-color: rgb(207 206 206 / 43%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a{
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a.activo {
    color: rgba(58, 156, 163, 0.852);
}

a{
    margin: 20px;
}

p{
    padding: 2rem;
}

/* Info general de TDAH */
.sec1{
background-color: rgb(207 206 206 / 63%);
}

.parrafo{
    color:#151515;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contenedor{
    margin-top: 1rem;
    margin-inline: 8rem;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid rgba(130, 190, 194, 0.59);
}

.textcolor{
    color: #4a4a4a;
    padding: 1rem;
}

.text-color{
    color: #151515;
    padding: 1rem;
}

ul{
    display: flex;
    flex-direction: column;
}

.li-color{
    color: #151515;
    padding: 0.5rem;
    margin-left: 2.5rem;
}